{% extends "TestBundle:Default:layout.html.twig" %}

{% block title %}
    Редактор изображения v1.0
{% endblock %}

{% block masthead %}
    <div class="masthead clearfix">
        <div class="inner">
            <h3 class="masthead-brand">TPROJECT</h3>
            <nav>
                <ul class="nav masthead-nav">
                    {% if user is defined %}
                        <li class="active"><a href="/">Главная</a></li>
                        <li><a href="/logout">Выход</a></li>
                        {% else %}
                        <li class="active"><a href="/">Главная</a></li>
                        <li><a href="/register">Регистрация</a></li>
                        <li><a href="/login">Вход</a></li>
                        {% endif %}

                </ul>
            </nav>
        </div>
    </div>
{% endblock %} 

{% block content %}
            <image src="{{image}}">
    </div>
{% endblock %}