{% extends "TestBundle:Default:layout.html.twig" %}

{% block title %}
    Главная страница
{% endblock %}

{% block masthead %}
    <div class="masthead clearfix">
        <div class="inner">
            <h3 class="masthead-brand">TPROJECT</h3>
            <nav>
                <ul class="nav masthead-nav">
                    {% if is_granted('ROLE_USER') %}
                        <li class="active"><a href="/">Главная</a></li>
                        <li><a href="/logout">Выход</a></li>
                        <li><a href="/profile">Личный кабинет</a></li>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <li><a href="admin">AP</a></li>
                                    {% endif %}
               
                        {% else %}
                        <li class="active"><a href="/">Главная</a></li>
                        <li><a href="/register">Регистрация</a></li>
                        <li><a href="/login">Вход</a></li>
                        {% endif %}

                </ul>
            </nav>
        </div>
    </div>
{% endblock %} 

{% block content %}
    <div class="inner cover">
        <h1 class="cover-heading">Утилита изменения изображения.</h1>
        <p class="lead">С помощью данного сервиса вы можете производить ряд операций
            над картинками. Изменять размер, накладывать разные фильтра и коллажи.</p>
        <p class="lead">
            <a href="/image" class="btn btn-lg btn-default">Попробовать</a>
        </p>
    </div>
{% endblock %}