{% trans_default_domain 'FOSUserBundle' %}

{% extends "TestBundle:Default:layout.html.twig" %}

{% block title %}
    Личный кабинет
{% endblock %}

{% block masthead %}
    <div class="masthead clearfix">
        <div class="inner">
            <h3 class="masthead-brand">TPROJECT</h3>
            <nav>
                <ul class="nav masthead-nav">
                    {% if user is defined %}
                        <li class="active"><a href="/">Главная</a></li>
                        <li><a href="/logout">Выход</a></li>
                        <li><a href="/profile">Личный кабинет</a></li>
                        {% else %}
                        <li class="active"><a href="/">Главная</a></li>
                        <li><a href="/register">Регистрация</a></li>
                        <li><a href="/login">Вход</a></li>
                        {% endif %}

                </ul>
            </nav>
        </div>
    </div>
{% endblock %} 

{% block content %}
    <div class="inner cover">
        <p class="lead">{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p class="lead">{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        {% if is_granted('ROLE_ADMIN') %}
            <p class="lead">Статус: Администратор</p>
        {% else %}
            <p class="lead">Статус: Пользователь</p>
        {% endif %}
        
        <a class ="btn btn-lg btn-default" href="edit">Редактировать</a>
    </div>
{% endblock %}
