{% extends "TestBundle:Default:layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}


{% block title %}
    Восстановление пароля
{% endblock %}

{% block masthead %}
    <div class="masthead clearfix">
        <div class="inner">
            <h3 class="masthead-brand">TPROJECT</h3>
            <nav>
                <ul class="nav masthead-nav">
                    {% if user is defined %}
                        <li class="active"><a href="/">Главная</a></li>
                        <li><a href="/logout">Выход</a></li>
                        {% else %}
                        <li class="active"><a href="/">Главная</a></li>
                        <li><a href="/register">Регистрация</a></li>
                        <li><a href="/login">Вход</a></li>
                        {% endif %}

                </ul>
            </nav>
        </div>
    </div>
{% endblock %} 

{% block content %}
    <div class="inner cover">
        <form class="form-signin" method="post" action="{{ path("fos_user_resetting_send_email") }}">
            <h2 class="form-signin-heading">Восстановление пароля</h2>
            <label for="inputEmail" class="sr-only">{{ 'resetting.request.username'|trans }}</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Логин"
                   required autofocus>
            <p class="submit"><input class="btn btn-lg btn-default" type="submit" name="_submit" id="submit" value="{{ 'resetting.request.submit'|trans }}"</p>
            {% if error is defined %}
                <div>
                    <font color="red">{{error}}</font>
                </div>
            {% endif %}
                
        </form>

    </div>  

{% endblock %}

